<?xml version="1.0"?>

<configuration>
	
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

	<system.web.webPages.razor>
	<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.3.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="LadowebservisMVC" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
      <add key="webpages:Enabled" value="true" />
	  <!--<add key="Umbraco.ModelsBuilder.Enable" value="true" />
	  <add key="Umbraco.ModelsBuilder.ModelsMode" value="AppData" />--><!--PureLive-->
		  
	  <add key="Umbraco.ModelsBuilder.ModelsNamespace" value="UmbracoEshop.lib.Models.UmbracoCmsContent" />
	  <add key="Umbraco.Web.PublishedCache.NuCache.Serializer" value="MsgPack" />
	  <add key="Umbraco.Web.SanitizeTinyMce" value="true" />

	  <add key="mailerID" value="ladowebservis.sk mailer system" />
	  <add key="smtpHost" value="smtp.websupport.cz" />

	  <add key="smtpPort" value="587" />
	  <add key="smtpUseSsl" value="true" />
	  <add key="smtpUser" value="info@ladowebservis.sk" />
	  <add key="Shipping:Zasielkovna:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.90},{&quot;MinTotal&quot;:50,&quot;Price&quot;:2.90},{&quot;MinTotal&quot;:80,&quot;Price&quot;:0.00}]"/>

	  <add key="smtpPassword" value="44zoIZzIIZ" />
	  <add key="sendToAdmin" value="info@ladowebservis.sk" />
	  <add key="sendFrom" value="info@ladowebservis.sk" />
	  <add key="sendFromName" value="info@ladowebservis.sk" />
	  <add key="sendToBcc" value="info@ladowebservis.sk" />

	  <add key="eshop.LoginFormId" value="1072" />
	  <add key="eshop.AfterLoginFormId" value="1070" />
	  <add key="eshop.ProductsFormId" value="1133" />
	  <add key="eshop.ZoznamVyrobcovFormId" value="1075" />
	  <add key="eshop.ZoznamVyrobkovFormId" value="1079" />
	  <add key="redirectToHttps" value="true" />
	  <!--pre samostatny webovyserver,velmi vela klientov ak chceme platny protokol na https,potom musi byt value="true"--> 
  </appSettings>
	<connectionStrings>
		<remove name="umbracoDbDSN" />
		<add name="umbracoDbDSN" connectionString="server=DESKTOP-NKCGM4K;database=um_eshop;user id=sa;password='Kukuricova02+'" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
		</DbProviderFactories>
	</system.data>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
    <httpErrors errorMode="Custom">
      <!-- remove default 404 handler -->
      <remove statusCode="404" />
      <!-- send 404s into MVC route /Home/HTTP404 -->
      <error statusCode="404"
             responseMode="ExecuteURL"
             path="/Home/HTTP404" />
    </httpErrors>
  </system.webServer>
	
  <system.web>
	  <compilation targetFramework="4.7.2" />
	  <customErrors mode="Off" defaultRedirect="mycustompage.htm"/>
  </system.web>
</configuration>



