<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="OrderEmail:Company" value="info@ladowebservis.sk"/>

    <!-- (Moved from Views/Web.config) -->
    <add key="Umbraco.ModelsBuilder.ModelsNamespace" value="UmbracoEshop.lib.Models.UmbracoCmsContent"/>
    <add key="Umbraco.Web.PublishedCache.NuCache.Serializer" value="MsgPack"/>
    <add key="Umbraco.Web.SanitizeTinyMce" value="true"/>

    <add key="mailerID" value="ladowebservis.sk mailer system"/>
    <add key="smtpHost" value="smtp.websupport.cz"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpUseSsl" value="true"/>
    <add key="smtpUser" value="info@ladowebservis.sk"/>
    <add key="smtpPassword" value="44zoIZzIIZ"/>
    <add key="sendToAdmin" value="info@ladowebservis.sk"/>
    <add key="sendFrom" value="info@ladowebservis.sk"/>
    <add key="sendFromName" value="info@ladowebservis.sk"/>
    <add key="sendToBcc" value="info@ladowebservis.sk"/>
    <add key="redirectToHttps" value="true"/>

    <!-- Payment gateway configuration (replace placeholders with real credentials) -->
    <add key="Stripe:PublishableKey" value="pk_live_51P80kcHrPMzQ1ua8JUHSe4iUQ9sLHonQMmFzwyRKnq2xTpB6mhuJVc4OdBKa04BJzpsjjliSrBoNnftkBxwntFF300mePdWSx3"/>
    <add key="Stripe:SecretKey" value="sk_live_YOUR_SECRET_KEY"/>
    <!-- Stripe Webhook signing secret (from Stripe dashboard) -->
    <add key="Stripe:WebhookSecret" value="whsec_YOUR_WEBHOOK_SECRET"/>

    <!-- Bank transfer details shown in order confirmation emails -->
    <add key="BankTransfer:IBAN" value="SK0211110000001291179008"/>
    <add key="BankTransfer:BIC" value="UNCRSKBX"/>

    <!-- Shipping price list (EUR) based on cart total; use highest MinTotal <= cart total -->
    <add key="Shipping:Zasielkovna:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.90},{&quot;MinTotal&quot;:50,&quot;Price&quot;:2.90},{&quot;MinTotal&quot;:80,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:Courier:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:4.90},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.90},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:DpdCourier:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:4.60},{&quot;MinTotal&quot;:70,&quot;Price&quot;:3.20},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:DpdPickup:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.60},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.40},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:GlsCourier:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:4.90},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.90},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:GlsParcelShop:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.90},{&quot;MinTotal&quot;:50,&quot;Price&quot;:2.90},{&quot;MinTotal&quot;:80,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:GlsBox:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.60},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.40},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:AlzaBox:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.60},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.40},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>
    <add key="Shipping:PacketaZBox:RatesJson" value="[{&quot;MinTotal&quot;:0,&quot;Price&quot;:3.60},{&quot;MinTotal&quot;:70,&quot;Price&quot;:2.40},{&quot;MinTotal&quot;:100,&quot;Price&quot;:0.00}]"/>

    <add key="PayPal:Business" value="your-paypal-business@example.com"/>
    <add key="PayPal:ReturnUrl" value="https://yourdomain.com/Home/OrderPlaced"/>
    <add key="PayPal:CancelUrl" value="https://yourdomain.com/Home/Kosik"/>

    <!-- SMTP settings used by Mailer (replace with your SMTP host and credentials, do NOT commit secrets) -->
    <add key="Smtp:Host" value="smtp.websupport.cz"/>
    <add key="Smtp:Port" value="587"/>
    <add key="Smtp:User" value="info@ladowebservis.sk"/>
    <add key="Smtp:Pass" value="a98HdiBMYNRH"/>

    <!-- reCAPTCHA keys: replace with your site & secret keys -->
    <add key="ReCaptcha:SiteKey" value="YOUR_ACTUAL_SITE_KEY_HERE"/>
    <add key="ReCaptcha:SecretKey" value="YOUR_ACTUAL_SECRET_KEY_HERE"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <connectionStrings>
    <remove name="umbracoDbDSN"/>
    <add name="umbracoDbDSN" connectionString="server=DESKTOP-NKCGM4K;database=um_eshop;user id=sa;password='Kukuricova02+'" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.TimeProvider" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <!-- Added binding redirects to resolve assembly version conflicts -->
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <!-- Additional binding redirects to resolve reported conflicts -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authorization" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Cryptography.Internal" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.7.0" newVersion="8.0.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.7.0" newVersion="8.0.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Core" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.RazorPages" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Routing" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" culture="neutral" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 61FB1475-8E75-4749-B72B-6843C7AC4206-->
